---
const { label, value } = Astro.props;
---

<li class="flex flex-col">
  <span class="text-xs uppercase tracking-wide text-gray-500">
    {label}
  </span>
  <span class="font-medium text-gray-900">
    {value}
  </span>
</li>
